$bodyColor: #f1f5f9;
$mainColor: #251B37;
$hoverColor: #f6f6f6;
$transition: 0.4s;
$greyColor: #eeeeee;
$semiGreyColor: #999;
$borderRadius: 6px;
$blueColor: #0075ff;
$greenColor: #22c55e;
$yellowColor: #f59e0b;
$redColor: #f44336;
$whiteColor: #fff;